body{
    margin: 0px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
#start_box{
    height: 60px;
    width: 100%;
    color: white;
    background-color: rgb(253, 68, 68);
}
#coupon{
    height: 250px;
    width: 550px;
    margin-left: 34%;
    z-index:100;
    background-color: azure;
    position:absolute;
    margin-top: 180px;
}
#cpn_img{
    height: 300px; 
    width: 550px; 
    position:absolute; 
    border: 0;
}
.login_create{
    margin-top: 8px;
    height: 50px;
    width: 350px;
    float: right;
    color: whitesmoke;
    font-size: 23px;
}
.login_create>a{
    font-family:'Times New Roman', Times, serif;
    color:white;
}
.create_Account{
    margin-left: 10px;
    border: 2px white solid;
    text-decoration: none;
}
